
<h1 align="center">UI Components</h1>


<h2>Message</h2>

<h4 align="center">Toast</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Message--Toast.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Boxes</h2>

<h4 align="center">IconCountBoxes</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Boxes--IconCountBoxes.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">ImageBoxes</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Boxes--ImageBoxes.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">LinkBoxes</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Boxes--LinkBoxes.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">TextBoxes</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Boxes--TextBoxes.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">TextCountBoxes</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Boxes--TextCountBoxes.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Cards</h2>

<h4 align="center">ImageCard</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Cards--ImageCard.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">TextCard</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Cards--TextCard.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Image</h2>

<h4 align="center">Album</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Image--Album.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">Carousel</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Image--Carousel.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">Image</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Image--Image.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">Slideshow</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Image--Slideshow.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>List</h2>

<h4 align="center">AccordionList</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--AccordionList.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">AvatarList</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--AvatarList.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">CategoryList</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--CategoryList.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">HorizontalRuleList</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--HorizontalRuleList.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">IconList</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--IconList.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">LeaderList</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--LeaderList.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">ListGroup</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--ListGroup.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">OrderedList</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/List--OrderedList.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Pills</h2>

<h4 align="center">ImagePills</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Pills--ImagePills.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">TextPills</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Pills--TextPills.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Progress</h2>

<h4 align="center">ProgressBar</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Progress--ProgressBar.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">ProgressCircle</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Progress--ProgressCircle.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Section</h2>

<h4 align="center">ColoredCards</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--ColoredCards.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">CountSecion</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--CountSecion.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">FeatureSection</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--FeatureSection.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">Hero</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--Hero.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">LeftImageSection</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--LeftImageSection.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">PricingSection</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--PricingSection.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">RightImageSection</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--RightImageSection.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">SimpleCards</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Section--SimpleCards.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Status</h2>

<h4 align="center">Status</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Status--Status.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>Steps</h2>

<h4 align="center">ArrowSteps</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Steps--ArrowSteps.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">BoxSteps</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Steps--BoxSteps.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">HorizontalSteps</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Steps--HorizontalSteps.png">
</div>
<style>

</style>
<div>

</div>
<hr>

<h4 align="center">VerticalSteps</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/Steps--VerticalSteps.png">
</div>
<style>

</style>
<div>

</div>
<hr>


<h2>TimeLine</h2>

<h4 align="center">TimeLine</h4>
<div align="center">
    <img style="max-height:200;max-width: 80%" src="/static/images/TimeLine--TimeLine.png">
</div>
<style>

</style>
<div>

</div>
<hr>







